server:
  port: 8083

spring:
  application:
    name: analytics-service

  datasource:
    url: jdbc:mysql://${MYSQL_HOST:mysql}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:fincategorizer}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${MYSQL_USER:fincategorizer_app}
    password: ${MYSQL_PASSWORD:app_password_123}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

logging:
  level:
    root: INFO
    com.fincategorizer: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
